*.class
mingw64/
*.class
.gradle/
.vs/
build/
out/

# temp / accidental files
*
!*.java
!*.md
!*.gradle
!gradlew
!gradlew.bat
!settings.gradle
!build.gradle
!src/
!.gitignore

# OS junk
Thumbs.db
.DS_Store

# build
build/
.gradle/





